@font-face {
    font-family: "light";
  
    src: url(./RedHatDisplay-Light.ttf);
}

@font-face {
    font-family: "medium";
    src: url(./RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: "extrabold";
    src: url(./RedHatDisplay-ExtraBold.ttf);
}
@font-face {
    font-family: "semi-bold";
    src: url(./RedHatDisplay-SemiBold.ttf);
}
@font-face {
    font-family: "regular";
    src: url(./RedHatDisplay-Regular.ttf);
}
@font-face {
    font-family: "bold";
    src: url(./RedHatDisplay-Bold.ttf);
}
@font-face {
    font-family: "black";
    src: url(./RedHatDisplay-Black.ttf);
}